@using _8BrickArcade.Web.Models;
@model GalagaViewModel

<div class="galaga-nav2">
    <div>
        @foreach (var c in Model.AllCharacters)
        {
            <a href="@GalagaViewModel.GetCharacterUrl(c)">
                <img src="@GalagaViewModel.GetStateImageUrl(c)" />
            </a>}
    </div>
</div>