@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
	ViewBag.Title = "Galaga Characters";
	ViewBag.Description = "Select a character to a 16x16 pixel sprite brought to life in the 3rd dimension";
}
<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<div id="galaga">
	@Html.React("GalagaCharacterPage", new { data = Model.Characters, selected = "" })
</div>