@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
	ViewBag.Title = "GaLEGO is Galaga in LEGO";
	ViewBag.Description = "";
}
<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
@Html.React("GalagaCharacterPage", new { data = Model.GetCharacterData(), selected = "" })