@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
    ViewBag.Title = $"Galaga - {Model.SelectedCharacterName}";
}

<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<div id="galaga">
	@Html.React("GalagaCharacterPage", new { data = Model.Characters, selected = Model.SelectedCharacterName.ToLowerInvariant() })
</div>