@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
    ViewBag.Title = "Evolution -> Into the 4th dimension";
    ViewBag.Description = "Iterative design has evolved these simple pixelated sprites into imaginative 4th dimensional projections.";
}

<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<hr />
<h1 class="highlight">Evolution</h1>
<hr />
<h2>Into the 4th dimension</h2>
<div>
    Iterative design has evolved these simple pixelated sprites into imaginative 4th dimensional projections.
</div>

@Html.React("GalagaEvolution", new { data = GalagaViewModel.Characters.Where(x => x.HasEvolution) })