@using _8BrickArcade.Web.Models;
@model GalagaViewModel

@{
    ViewBag.Title = "GaLEGO is Galaga in LEGO";
    ViewBag.Description = "";
}

<div>
    <a class="galego-logo" href="/galaga"><img src="~/images/logos/galego.png" /></a>
</div>
<div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a class="highlight" href="/galaga/evolution">
                <h2 class="highlight">Evolution&nbsp;&raquo;&nbsp;&raquo;</h2>
                @Html.React("GalagaEvolutionRow", new { data = Model.GetCharacter(GalagaCharacter.Fighter) })
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h2 class="highlight"><a class="highlight" href="/galaga/characters/">Characters&nbsp;&raquo;&nbsp;&raquo;</a></h2>
            @Html.React("GalagaNavigation", new { data = Model.Characters, svg = true })
        </div>
    </div>
</div>