@{
    ViewBag.Title = "Welcome to 8 Brick Arcade";
    ViewBag.Description = "Your pixelated 80s childhood is coming (back) soon";
}

<div class="page-simple">
	<h1 class="highlight">Welcome to 8 Brick Arcade</h1>
	<hr />
	<p>This image is from a t-shirt that I bought many years ago.  I like the way it portrays very recognizable sprites from the classic arcade game <em>Space Invaders</em> as a shadow of 3 dimensional space ships.</p>
	<img class="page-image-half" src="~/images/story/shirt.png" />
	<p>I wanted to build my favorite arcade game (Galaga) with my favorite childhood toy (LEGO).</p>
	<img class="page-image-half" src="~/images/story/sprites.png" />
	<p>I started with only the bricks that were available at my local LEGO store pick-a-brick wall.</p>
	<img class="page-image-half" src="~/images/story/fighter1.jpg" />
	<p>And then I discovered BrickLink.com and have been busy building Galaga ever since.</p>
	<img class="page-image-half" src="~/images/story/fighter2.jpg" />
	<p>The resolution of old arcade game sprites matches well with a single lego block.</p>
	<img class="page-image-half" src="~/images/story/fighter.gif" />
</div>
