@{
    ViewBag.Title = "What is 8 Brick Arcade?";
    ViewBag.Description = "This is a love story about bits and bricks which started in the '80s and will never end";
}

<div class="page-simple">
    <h1 class="highlight">8 bits per LEGObyte</h1>
    <p><em>This is a love story about bits and bricks which started in the '80s and will never end.</em></p>

    <img class="page-faq-image" src="~/images/story/fighter.svg" />
    <h2>What is a LEGObyte?</h2>
    <p>
        Video games became popular in the era of 8 bit computers.
        <br />
        Each pixel was commonly represented using 8 bits = 1 byte.
        <br />
        A LEGObyte is a single LEGO brick being used as a pixel.
    </p>
    <br />
    <h2>Where is EVERYTHING?</h2>
    <p>Everything is for-ever a work-in-progress.<br />GALEGO has 10 character sprites to do first...<br />* Extra spaceships coming soon</p>
    <br />
    <h2>When did this start?</h2>
    <p>LEGO invented: 1934<br />Galaga released: 1981<br />8BrickArcade launched: 2016</p>
    <br />
    <h2>Who am I?</h2>
    <p>I am a software engineer, video gamer and an AFOL.<br />You can contact me here: <a href="https://kevinhutchens.com">KevinHutchens.com</a></p>
    <img class="page-faq-image" src="~/images/story/me.jpg" />
    <br />
    <p>EVERYTHING is AWESOME<br />and<br />SPACESHIPS<br />and<br />CARS</p>
</div>
