@using _8BrickArcade.Models;

@{
    ViewBag.Title = "GALEGO is Galaga in LEGO";
    ViewBag.Description = "";
}

<h1 class="highlight">GALEGO is Galaga in LEGO</h1>
<hr />

<h2 class="page-galego">
    <a target="_blank" href="https://ideas.lego.com/projects/af0169e8-6881-4145-908c-f5029c77d9fc"><img alt="LEGO" class="page-image-logo" src="~/images/logos/lego.png" /></a>is my favorite toy and<span style="display: inline-block"><a href="/galaga"><img alt="GALAGA" class="page-image-logo" src="~/images/logos/galaga.png" /></a>is my favorite arcade game!</span>
</h2>
<h2>
    It only made sense to combine them into<a href="/galaga"><img alt="GALEGO" class="page-image-logo" src="~/images/logos/galego.png" /></a>
</h2>

<div class="row">
    <div class="col-sm-5 col-sm-push-7">
        <a class="home-tile" target="_blank" href="https://ideas.lego.com/projects/af0169e8-6881-4145-908c-f5029c77d9fc">
            <span class="home-tile-head2">Do you want your own?</span>
            <span class="home-tile-lead">Capture your own fighter or TWO</span>
            <img class="home-tile-image" src="~/images/logos/lego-ideas.png" />
            <span class="home-tile-call btn btn-default">Visit LEGO IDEAS website &raquo;</span>
        </a>
        <a class="home-tile" href="/galaga">
            <span class="home-tile-head2">Want to know more?</span>
            <span class="home-tile-lead">See how it was designed and built</span>
            <img class="home-tile-image" src="~/images/logos/galego.png" />
            <span class="home-tile-call btn btn-default">Learn more about GALEGO &raquo;</span>
        </a>
    </div>
    <div class="col-sm-7 col-sm-pull-5">
        <a class="home-tile" href="/galaga">
            <br />
            <div>
                <img class="page-image-large" src="~/images/logos/galaga.png" />
            </div>
            <br />
            <div>
                <img class="page-image-full" src="~/images/story/arcade.png" />
            </div>
            <br />
            <span class="home-tile-call btn btn-default">INSERT COIN &raquo;</span>
        </a>
    </div>
</div>