@{
	ViewBag.Title = "8 bits per LEGObyte";
}

<br />
<div class="jumbotron">
	<h2 class="question">What is more AWESOME than EVERYTHING?</h2>
	<h1>8 BIT EVERYTHING</h1>
	<h2>&raquo; with &laquo;</h2>
	<h1>EXTRA SPACESHIPS</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<a class="home-tile" href="/galego">
			<span class="home-tile-head">Galego</span>
			<span class="home-tile-lead">GALEGO is Galaga in LEGO</span>
			<span class="home-tile-images">
				<img src="~/images/galaga/icons/blocks/Fighter.png" />
				<img src="~/images/galaga/icons/blocks/Galaga.png" />
				<img src="~/images/galaga/icons/blocks/Butterfly.png" />
				<img src="~/images/galaga/icons/blocks/Bumblebee.png" />
			</span>
			<span class="home-tile-images2">
				<img src="~/images/galaga/icons/blocks/Fighter2.png" />
				<img src="~/images/galaga/icons/blocks/Galaga2.png" />
				<img src="~/images/galaga/icons/blocks/Butterfly2.png" />
				<img src="~/images/galaga/icons/blocks/Bumblebee2.png" />
			</span>
			<span class="home-tile-call btn btn-default">PEW &raquo; &raquo;&nbsp;&nbsp;PEW &raquo; &raquo;</span>
		</a>
	</div>
	<div class="col-md-3">
		<a class="home-tile" href="/about">
			<span class="home-tile-head2">Inspiration</span>
			<span class="home-tile-lead">8 bits per LEGObyte</span>
			<img class="home-tile-image" src="~/images/story/shirt.png" />
			<span class="home-tile-call btn btn-default">Learn more &raquo;</span>
		</a>
	</div>
	<div class="col-md-3">
		<a class="home-tile" href="/faq">
			<span class="home-tile-head2">Questions?</span>
			<span class="home-tile-lead">What is a<br />LEGObyte?</span>
			<span class="home-tile-lead">Where is EVERYTHING?</span>
			<span class="home-tile-lead">Who are you?</span>
			<span class="home-tile-call btn btn-default">Answers here &raquo;</span>
		</a>
	</div>
</div>