@using _8BrickArcade.Web.Models;
@model BaseViewModel

<h1>Client Side</h1>
<div id="boxStatic"></div>
<div id="boxDynamic"></div>

<h1>Server Side</h1>


@section scripts {
    <script>
        ReactDOM.render(React.createElement(CommentBoxStatic, { data: data }), document.getElementById('boxStatic'));
        ReactDOM.render(React.createElement(CommentBox, { url: "/data/comments" }), document.getElementById('boxDynamic'));
    </script>
}