/* ******************************************** */
body {
    background: #262726 url('/images/back-d.png') top center repeat;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    overflow-y: scroll;
    color: #d1d1d1;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #0d0d0d;
    border: 2px #1d1d1d solid;
}

p {
    font-family: 'Open Sans';
    font-size: 1.3em;
    line-height: 2em;
}


/* ******************************************** */
/* HELPERS */

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}


/* ******************************************** */
/* GLOBAL */
.head {
    padding: 0;
    text-align: center;
    background: #262726 url('/images/back-d.png') top left repeat;
}

.logo {
    display: block;
    height: 100px;
    border: none;
}

    .logo > img {
        height: 100%;
        width: auto;
    }

.jumbotron {
    margin: 2px;
    padding: 10px 15px 20px;
    color: #eee;
    text-align: center;
    background: #262726 url('/images/back-l.png') top left repeat;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
    text-shadow: 4px 4px 4px #000;
}

.question {
    color: #a00;
    font-weight: bold;
}

.highlight {
    color: #a00;
}

A.highlight {
}

    A.highlight:hover {
        color: #c00;
    }

.lowlight {
    color: #ddd;
}

/* HOME */
.home-tile {
    display: block;
    opacity: 0.9;
    color: #eee;
    background: #000;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px 20px;
    margin: 20px 0;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
}

    .home-tile:hover {
        opacity: 1;
        text-decoration: none;
    }

    .home-tile:active {
        color: #fff;
        text-decoration: none;
    }

.home-tile-head {
    color: #a00;
    padding: 5px;
    display: block;
    font-size: 3em;
}

.home-tile-head2 {
    color: #900;
    padding: 5px;
    display: block;
    font-size: 2em;
}

.home-tile-lead {
    color: #ddd;
    padding: 5px;
    display: block;
    font-size: 1.5em;
}

.home-tile-image {
    margin: 10%;
    width: 80%;
    height: auto;
}

.home-tile-images,
.home-tile-images2 {
    display: block;
}

    .home-tile-images img,
    .home-tile-images2 img {
        display: inline-block;
        margin: 5%;
        width: 30%;
    }

.home-tile-images2 {
    display: none;
}

.home-tile:hover .home-tile-images2 {
    display: block;
}

.home-tile:hover .home-tile-images {
    display: none;
}

.home-tile-call {
    margin: 15px;
}

/* PAGES */
.page-simple {
    text-align: center;
}

    .page-simple p {
        width: 75%;
        margin: 2% auto;
    }

    .page-simple img {
        margin: 15px;
    }

.page-image-half {
    margin: 0 auto;
    width: 50%;
}

.page-image-large {
    margin: 0 auto;
    width: 75%;
}

.page-image-full {
    margin: 0 auto;
    width: 95%;
}

.page-image-logo {
    margin: 16px 8px;
    height: 64px;
}

.page-faq-image {
    max-width: 512px;
    width: 75%;
}